
.inputSide div{
text-align: center;
}
.inputSide input{
    padding: 12px 20px;
 
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}
.inputSide input:focus{
    border: 3px solid #555;
   
}
.inputSide button{
    margin-left:10px;
    padding: 12px 6px;
    border: 3px solid #555;
    outline: none;
    transition: 0.5s;
}
.inputSide button:active{
    background-color: rgb(145, 112, 112);
}

.list{
    list-style-type: none;
    display: inline-block;
    padding: 0 25px;
    background-color: #fff;;
    font-size: 16px bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin:25px;    
}
.list span{
    position: absolute; 
    right: 5px;
    top:5px;
    display: inline-block;
    background-color: #FFCA21;
    color :#fff;
    padding: 5px 10px;
    border-radius: 20%;
    font-size: 15px;
    
}
.list span:hover{
    cursor: pointer;
    background-color: #fff;
    color: #FFCA21;
}
.listBoard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: flex-start;
    grid-gap: 5px;
    margin:0;
    padding: 10px;
}
.temp{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}
.listContent{
     padding-top:15%;
     display: flex;
    flex-direction: column;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
.taskText{
    margin-top:0;
    padding: 15px 0;
    font-size: 20px;
     
}
.weatherSide{
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatherIcon{
    width: 30%;
}