.task{
    margin:15px auto;
}
.taskClose{
   font-size: 26px;
    transition: transform 42s linear;
    color:#FD7E14;
}
.taskClose:hover{
    color: #000;
    cursor: pointer;
    transform: rotate(9000deg)
}
.checked{
    border: 1px solid rgb(150, 0, 0) !important;
}
.taskCloseDisable{
    visibility: hidden;
}
